<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados</title>
  <link rel="stylesheet" href="/css/dados.css">
  <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
  <div style="display: flex; height: 100vh;">
    {{>barraIzq}}
    <div style="background-color: rgb(71, 71, 71);width: 20%;"></div>
    <div class="container-main" style="height: 100vh;">
      <div class="barra-arriba" style="display: flex;justify-content: end;">
        <div onclick="redirigir_perfil()" id="boton-ini">Perfil</div>
        <div onclick="redirigir_inicio()" id="boton-ini">inicio</div>
      </div>
      {{>balance}}
      <div class="scene" style="margin: auto;margin-top: 250px;">
        <div class="cube" id="dice">
          <div class="face front">1</div>
          <div class="face back">6</div>
          <div class="face right">2</div>
          <div class="face left">5</div>
          <div class="face top">3</div>
          <div class="face bottom">4</div>
        </div>
      </div>
      {{#afterGame}}
        {{#victory}}
          <script>
            function activarDado(nr){

              //  The switch its used to rotate the dice and make it so the number its the random. ITS ONLY VISUAL
              switch(nr){
                case(1): n1=2;n2=2;break;
                case(2):n1=2;n2=1;break;
                case(3):n1=3;n2=3;break;
                case(4):n1=1;n2=1;break;
                case(5):n1=4;n2=1;break;
                case(6):n1=2;n2=4;break;
              }

                const randomX = n1*90;
                const randomY = n2*90;
                currentX += randomX;
                currentY += randomY;
                
                dice.style.transform = `rotateX(${currentX}deg) rotateY(${currentY}deg)`;

                // Calculate correct face of dice
                currentFace = getDiceFace(currentX, currentY);

                // Show result
                document.getElementById("currentFace").innerHTML = currentFace;
            }
          </script>
          <script>
            window.onload=function(){
              activarDado({{randomNumber}});
            }
          </script>
          <div style="display: flex; justify-content: space-between;">
            <div style="width: 48%;">
              <p style="color: white;text-align: center; margin-top: 100px;">ENHORABUENAAAAAA!!!</p>
              <p style="color: white;text-align: center; margin-top: 100px;">Pocas veces se gana...</p>
              <div onclick="playAgain()" style="color: white;width: 100px; height: 40px; border:  1px solid purple;">Volver a apostar</div>
              <script>
                function playAgain(){
                    window.location.href="/game/watch/{{game.id}}"
                }
            </script>
            </div>
            <div style="width: 38%;">
              <div style="display: flex; background-color: rgb(49, 49, 49);;">
                <img src="/imagenes/lbjCelebration.gif" style="display: flex; width: 500px;">
              </div>
            </div>
          </div>
        {{/victory}}
        {{^victory}}
        <script>
          function activarDado(nr){
            let n1;
            let n2;
            switch(nr){
                case(1): n1=2;n2=2;break;
                case(2):n1=2;n2=1;break;
                case(3):n1=3;n2=3;break;
                case(4):n1=1;n2=1;break;
                case(5):n1=4;n2=1;break;
                case(6):n1=2;n2=4;break;
              }
              const randomX = n1*90;
              const randomY = n2*90;

              currentX += randomX;
              currentY += randomY;

              dice.style.transform = `rotateX(${currentX}deg) rotateY(${currentY}deg)`;
              alert(currentX)
              alert(currentY)
              // Calculate correct face of dice
              currentFace = getDiceFace(currentX, currentY);
              
              // Show result
              document.getElementById("currentFace").innerHTML = currentFace;
          }
        </script>
          <script>
            window.onload=function(){
              activarDado({{randomNumber}});
            }
          </script>
          <p style="color: white;text-align: center; margin-top: 100px;">Perdiste mi pequeño lebron</p>
          <div onclick="playAgain()" style="color: white;width: 100px; height: 40px; border: 1px solid purple;" >Volver a apostar</div>      
          <script>
            function playAgain(){
                window.location.href="/game/watch/{{game.id}}"
            }
        </script>
        {{/victory}}
      {{/afterGame}}
      {{^afterGame}}
        {{#userLogged}}
          {{#playingGame}}
          
          <div style="color: white;display: block; align-items: center; text-align: center;margin-top: 100px;">
            <p>Partida Creada, gire para jugar</p>
            <p>Número elegido: {{selectedNumber}}</p>
            <div onclick="processPlay()" style="width: 100px; height: 80px; border: 1px solid purple;">Tirar dado</div>
            <script>
              processPlay=function(){
                  window.location.href="/sameGameBetProcess/{{game.id}}"
              }
          </script>
            <p style="padding: left 1000px;" id="currentFace"></p>
          </div>        
          <p style="padding: left 1000px;" id="currentFace"></p>
          {{/playingGame}}
          {{^playingGame}}
          <div style="color: white;display: block; align-items: center; justify-content: center;text-align: center; margin-top: 100px;">
            <form action="/game/watch/{{game.id}}/process" method="post" >
              <p>Dinero a apostar</p>
              <input type="number" step="0.5" name="bet">
              <br>
              <p>Número del dado</p>
              <input type="number" name="selectedNumber" id="inputDado">
              <br>
              <input type="submit" value="Apostar" style="margin-top: 10px;">
              <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            {{#saldoInsuficiente}}
            <span style="color: red;">Saldo insuficiente</span>
            {{/saldoInsuficiente}}
          </div>
          {{/playingGame}}
          <div onclick="redirigir_historialD()" id="boton-ini">Historial</div>
        {{/userLogged}}
        {{^userLogged}}
        <p style="margin-left: 50px; color: white;">Inicie sesión para jugar</p>
        {{/userLogged}}
      {{/afterGame}}
      <script src="/js/dados.js"></script>

      
    </div>
  </div>
  <script src="/js/redirections.js"></script>
</body>
</html>