<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/inicio.css">
        <meta charset="UTF-8">  
    </head>
    <body>
        
        <div style="display: flex;">
            <div id="contenedor-izq" style="position: fixed;">
                <div class="barra-arriba" style="text-align: center;">
                    <h2>LKJC</h2>
                </div>               
                <div class="div-izq" style="height: 200px;width: 200px;">
                    <div style="text-align: center;">
                        <img src="/imagenes/icono_perfil.png" style="width: 50px;">
                        <div class="boton-iniciar-sesion"></div>
                        <div style="display: flex;">   
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>  
                <div class="div-izq" id="Promociones" style="height: 50px;width: 200px;display: flex;">
                <div>
                    <img src="/imagenes/regalo.png" alt="icono_regalo" style="width: 40px;display: inline-block;">
                    <h3 style="display: inline-block;margin-left:25px;">Promociones</h3>
                </div>
                </div>
                <div class="div-izq" id="Lista" style="width: 200px;;">
                <ul>
                    <li>Rule</li>
                    <li>Dados</li>
                </ul>
                </div>
            </div>

            <div id="container-main">
            <div class="barra-arriba" style="display: flex;justify-content: end;" >
                <div onclick="redirigir_login()" id="boton-ini">Iniciar</div>
                <div onclick="redirigir_reg()" id="boton-reg">Registrarse</div>
                <div id="welcome">Bienvenido {{userLogged}} </div>
            </div>
            <h2>LEKING JAMES</h2>
            <h2>  CASINO</h2>
            <div id="lbj">
                <img id="lbj" src="/imagenes/pngwing.com.png" style="align-self: center;width: 150px;">
            </div>
            <hr style="border-color: black;margin-top: 70px;">
            
            <table style="width: 100%; border-spacing: 0 40px;margin-top: 50px;">
                <tr>
                    <td onclick="redirigirRuleta()">
                        <img src="/imagenes/ruleta.png" style="width: 200px;" alt="ruleta">
                        
                        <p>Ruleta</p>
                    </td>
                    <td>
                        <img src="/imagenes/dados.png" style="width: 200px;" alt="dados">
                        <p>DADOS</p>
                    </td>
                    <td>
                        <img src="/imagenes/tragaperras.png" style="width: 200px;"alt="tragaperras">
                        <p>TRAGASABLES</p>
                    </td>
                </tr>
                <tr>
                    <td>PROXIMAMENTE</td>
                    <td>PROXIMAMENTE</td>
                    <td>PROXIMAMENTE</td>
                </tr>
            </table>
            <pre>













                
            </pre>
            
            </div>
        </div>
        



        <script src="/js/inicio.js"></script>
    </body>
</html>