<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <div id="all">
            <div id="divCrown">
                <img src="/imagenes/coronaDelKing.png" >
            </div>
            <div id="content">
                <div id="inside">
                    <h3>Inicio de sesión</h3>
                    <form action="/procesarLogin" method="post">
                        <p>Introduzca su nombre de usuario:</p>
                        <input type="text" name="name">
                        <p>Introduzca su contraseña:</p>
                        <input type="text" name="psw">
                        <pre>
                        </pre>
                        {{#error}}
                        <span style="color: red;">Datos erroneos</span>
                        {{/error}}
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>