<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"> 
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <div id="all">
            <div id="divCrown">
                <img src="/imagenes/coronaDelKing.png" >
            </div>
            <div id="content">
                <div id="inside">
                    <h3>Estas a punto de cerrar sesión</h3>
                </div>
                <div id="bot-container">
                    <div onclick="redirigir_inicio()" class="bot" style="background-color: azure;">Atras</div>
                    <div onclick="redirigir_procesar_logout()" class="bot" style="background-color: red;">Confirmar</div>
                </div>
                <div style="text-align: center;">
                    <a href="/rule">
                        <img src="/imagenes/pico-diamantes.png" style="width: 490px; height: 270px;">
                    </a>
                </div>
            </div>
        </div>
        <script src="/js/redirections.js"></script>
    </body>
</html>