<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/inicio.css">
        <meta charset="UTF-8">  
    </head>
    <body>
        
        {{#dineroNegativo}}
        <script>
            function refresh(){
                alert("Dinero negativo")
                window.location.href="/"
            }
            window.addEventListener("load",function(){refresh()})
        </script>
        {{/dineroNegativo}}
        {{^dineroNegativo}}
        <div style="display: flex;">
            {{>barraIzq}}
            <div style="background-color: rgb(71, 71, 71);width: 20%;"></div>
            <div  class="container-main">
                <div class="barra-arriba" style="display: flex;justify-content: end;" >
                    {{#userLogged}}
                    <div id="welcome">Bienvenido {{userLogged.name}} </div>
                    <div onclick="redirigir_perfil()" id="boton-ini">Perfil</div>
                    <div onclick="redirigir_logout()" id="boton-ini">Cerrar sesión</div>
                    {{/userLogged}}
                    {{^userLogged}}
                    <div onclick="redirigir_login()" id="boton-ini">Iniciar</div>
                    <div onclick="redirigir_reg()" id="boton-reg">Registrarse</div>
                    {{/userLogged}}
                </div>
                {{>balance}}
                <h2 style="color: yellow;">LEKING JAMES</h2>
                <h2 style="color: yellow;">  CASINO</h2>
                <div id="lbj">
                    <img id="lbj" src="/imagenes/pngwing.com.png" style="align-self: center;width: 150px;">
                </div>
                <hr style="border-color: black;margin-top: 70px;">
                {{#Juegos}}
                    <a href="game/watch/{{id}}" style="color: azure;">ver</a>
                    <p style="color:white;font-size: 30px;">{{name}}</p>
                    <p style="color:white;font-size: 30px;">Price : {{winMultp}}</p>
                {{/Juegos}}
            
            </div>
        </div>
        {{/dineroNegativo}}
        <script src="/js/redirections.js"></script>
    </body>
</html>