<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/rule.css">
    <title>Premios</title>
</head>

<body>
    <div style="display: flex;">
        {{>barraIzq}}
        <div style="background-color: rgb(71, 71, 71);width: 20%;"></div>
        <div class="container-main" style="height: 100vh;">
            <div class="barra-arriba" style="display: flex;justify-content: end;">
                <div onclick="redirigir_perfil()" id="boton-ini">Perfil</div>
                <div onclick="redirigir_inicio()" id="boton-ini">inicio</div>
            </div>
            {{>sueldo}}
            <p style="text-align: center;color: white; font-size: 40px;">PREMIOS</p>
            {{#premios}}
            <div style = "display : inline-block; padding-left: 100px;">
              <p style="color:white;font-size: 30px;">{{name}}</p>
              <p style="color:white;font-size: 30px;">Price : {{Price}}</p>
              {{^owner}}
              <form action = "/premios/{{id}}" method = "get">
                <input type = "submit" value = "Buy">
              </form>
              {{/owner}}
              {{#owned}}
              <p style="color:white;font-size: 30px;">Owner : {{Owner.name}}</p>
              {{/owned}}
            </div>
            {{/premios}}

        </div>
    </div>
    <script src="/js/inicio.js"></script>
</body>

</html>