<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/rule.css">
    <title>RULETA</title>
</head>

<body>
    <div style="display: flex;">
        {{>barraIzq}}
        
        <div style="background-color: rgb(71, 71, 71);width: 20%;"></div>
        <div class="container-main" style="height: 100vh;">
            <div class="barra-arriba" style="display: flex;justify-content: end;">
                <div onclick="redirigir_perfil()" id="boton-ini">Perfil</div>
                <div onclick="redirigir_inicio()" id="boton-ini">inicio</div>
                
            </div>
            {{>balance}}
            <p style="text-align: center;color: purple; font-size: 40px;">GIRA LA RULETA JAMES Y GANA MILLONES</p>
            <div class="container">
                
                <canvas id="canvas" width="500" height="500"></canvas>
                <div id="spin"></div>
                {{#afterGame}}
                {{#victory}}
                <script>
                    window.addEventListener('load', function (){
                        spin({{randomNumber}})
                    });
                </script>
                <div style="display: block;">
                    <p>GANASTEEE!!!</p>
                    <p>No estarás haciendo trampa no?</p>
                    <div style="display: flex; background-color: rgb(49, 49, 49); margin: 50px;">
                        <img src="/imagenes/leDunk.gif" style="display: flex; width: 500px;">
                    </div>
                    <div onclick="playAgain()" style="color: white;width: 100px; height: 40px; border: 1px solid purple;" >Volver a apostar</div>
                    <script>
                        function playAgain(){
                            window.location.href="/game/watch/{{game.id}}"
                        }
                    </script>
                </div>
                {{/victory}}
                {{^victory}}
                <script>
                    window.addEventListener('load', function (){
                        spin({{randomNumber}})
                    });
                </script>
                <p>PERDISTE... </p>
                <p>Es dificil ganar....</p>
                <div onclick="playAgain()" style="color: white;width: 100px; height: 40px; border: 1px solid purple;" >Volver a apostar</div>
                <script>
                    function playAgain(){
                        window.location.href="/game/watch/{{game.id}}"
                    }
                </script>
                {{/victory}}
                {{/afterGame}}
                {{^afterGame}}
                <div style="color: white;display: block; align-items: center; justify-content: center;text-align: center; margin-top: 100px;">
                    {{#playingGame}}
                    <button onclick="processPlay()" >GIRAAAAA</button>
                    <script>
                        processPlay=function(){
                            window.location.href="/sameGameBetProcess/{{id}}"
                        }
                    </script>
                    {{/playingGame}}
                    {{^playingGame}}
                    {{#userLogged}}
                    <form  id="ruletaForm"   method="post" action="/game/watch/{{game.id}}/process">
                        <p>Dinero a apostar:</p>
                        <input type="number" step="0.5" name="bet" placeholder="Ingresa un número">
                        <br>
                        <p>Numero elegido:</p>
                        <input type="number" name="selectedNumber" placeholder="Ingresa un número">
                        <br>
                        <input type="submit" value="Apostar">
                        <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                    {{/userLogged}}
                    {{^userLogged}}
                    <p>Inicie sesión para jugar</p>
                    {{/userLogged}}
                    {{/playingGame}}
                    
                </div>
                {{/afterGame}}
                <div class="resultado">
                    {{#insufficientBalance}}
                    <p style="color: red;">Saldo insuficiente</p>
                    {{/insufficientBalance}}
                </div>
                
            </div>
            {{#userLogged}}
            <div onclick="redirigir_historialR()" id="boton-ini" style="align-self: center;display: flex;">Historial</div>
            {{/userLogged}}
        </div>
    </div>
    <script src="/js/rule.js"></script>
    <script src="/js/redirections.js"></script>
</body>

</html>