<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SLOTS</title>
    <link rel="stylesheet" href="css/slot.css">
    <script src="js/slot.js" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inicio.css">
</head>

<body>

    <div style="display: flex;">
        {{>barraIzq}}
        <div style="background-color: rgb(71, 71, 71);width: 20%;"></div>
        <div class="container-main" style="height: 911px;">
            <div class="barra-arriba" style="display: flex;justify-content: end;">
                <div id="boton-ini" href> 
                    <a href="/profile">
                        Perfil
                    </a>
                </div>
                <div onclick="redirigir_inicio()" id="boton-ini">inicio</div>
            </div>
            <div id="container">
                <div class="window-border">
                    <div class="window">
                        <div class="outer-spacer"></div>
                        <div class="outer-col">
                            <div class="col"></div>
                        </div>
                        <div class="outer-spacer"></div>
                        <div class="outer-col">
                            <div class="col"></div>
                        </div>
                        <div class="outer-spacer"></div>
                        <div class="outer-col">
                            <div class="col"></div>
                        </div>
                        <div class="outer-spacer"></div>
                        <div class="outer-col">
                            <div class="col"></div>
                        </div>
                        <div class="outer-spacer"></div>
                        <div class="outer-col">
                            <div class="col"></div>
                        </div>
                        <div class="outer-spacer"></div>
                    </div>
                </div>

                <input type="button" onclick="spin(this)" class="start-button" value="Spin" />
            </div>
        </div>
    </div>
    <script src="/js/inicio.js"></script>
</body>

</html>