<html>
    <head>

    </head>
    <body>
        <h2>Lista Usuarios</h2>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Dinero</th>
            </tr>
            {{#usuarios}}
            <tr>
                <td>{{name}}</td>
                <td>{{currency}}</td>
            </tr>
            {{/usuarios}}

            {{^usuarios}}
            <tr>
                <td colspan="2">No hay usuarios registrados</td>
            </tr>
            {{/usuarios}}
        </table>
    </body>
</html>